@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  margin-right: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #42A5F5;
  border-radius: 100px;
}

.logo {
  font-weight: 300;
  display: inline-block;
}

hr {
  width: 100%;
  border: 1px solid #272b35;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  padding: 0 2rem;
}

.MuiList-root {
  text-align: center;
}

.MuiList-root a {
  width: 100%;
  margin: 0 auto;
}

.searchContainer {
  display: flex;
  width: 60%;
  height: 50%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #111827;
  margin: 0 auto;
  border-radius: 6px;
  bottom: 100px;
  padding: 1rem 2rem 2rem;
}

.searchContainer .searchInput {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  /* reset input */
}

.searchContainer .searchInput .form__group {
  position: relative;
  padding: 7px 0 0;
  margin-right: 5px;
  width: 60%;
  height: 100%;
}

.searchContainer .searchInput .form__field {
  font-family: inherit;
  width: 100%;
  height: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  padding: 17px 0 0px;
  background: transparent;
  transition: border-color 0.2s;
}

.searchContainer .searchInput .form__field::placeholder {
  color: transparent;
}

.searchContainer .searchInput .form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 18px;
}

.searchContainer .searchInput .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.searchContainer .searchInput .form__field:focus {
  padding-bottom: 0;
  font-weight: 300;
  border-width: 3px;
  border-image: linear-gradient(to right, #42A5F5, #42A5F5);
  border-image-slice: 1;
}

.searchContainer .searchInput .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #42A5F5;
  font-weight: 700;
}

.searchContainer .searchInput .form__field:required, .searchContainer .searchInput .form__field:invalid {
  box-shadow: none;
}

.searchContainer .searchInput button {
  width: 10%;
  height: 100% !important;
}

.searchContainer .searchResult {
  height: 95%;
  width: 100%;
  padding: 2rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  gap: 30px;
}

.searchContainer .searchResult h3 {
  width: 100%;
  font-weight: 300;
}

.searchContainer .searchResult h3 span {
  margin: 0 auto;
}

.incomeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.incomeContainer .titleContainer {
  height: 3%;
  background-color: #42A5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.incomeContainer .titleContainer h2 {
  color: #000;
}

.swiper {
  height: 97%;
  width: 100%;
}

.swiper .slideContent {
  width: 100%;
  height: 100%;
}

.swiper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #111827;
}

.swiper .swiper-slide hr {
  width: 0;
  height: 90%;
  margin: 0 1rem;
}

.swiper .swiper-slide .left {
  width: 40%;
  height: 80%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.swiper .swiper-slide .left h3 {
  width: 100%;
  height: 7%;
  border-bottom: 1px solid #42A5F5;
  display: flex;
  align-items: center;
}

.swiper .swiper-slide .left h3 .dataName {
  float: left;
  width: 60%;
  text-align: start;
}

.swiper .swiper-slide .left h3 .dataValue {
  width: 40%;
  float: right;
  text-align: end;
}

.swiper .swiper-slide .right {
  width: 40%;
  height: 80%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.swiper .swiper-slide .right h3 {
  width: 100%;
  height: 7%;
  border-bottom: 1px solid #42A5F5;
  display: flex;
  align-items: center;
}

.swiper .swiper-slide .right h3 .dataName {
  float: left;
  width: 60%;
  text-align: start;
}

.swiper .swiper-slide .right h3 .dataValue {
  width: 40%;
  float: right;
  text-align: end;
}

.headerText {
  width: 50%;
  text-align: left;
}

.searchInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40%;
  width: 35%;
  /* reset input */
}

.searchInput .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-right: 5px;
  width: 60%;
  height: 100%;
}

.searchInput .form__field {
  font-family: inherit;
  width: 100%;
  height: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  font-weight: 300;
  color: #fff;
  padding: 7px 0 0px;
  background: transparent;
  transition: border-color 0.2s;
}

.searchInput .form__field::placeholder {
  color: transparent;
}

.searchInput .form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 17px;
}

.searchInput .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.searchInput .form__field:focus {
  padding-bottom: 0;
  font-weight: 300;
  border-width: 3px;
  border-image: linear-gradient(to right, #42A5F5, #42A5F5);
  border-image-slice: 1;
}

.searchInput .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #42A5F5;
  font-weight: 700;
}

.searchInput .form__field:required, .searchInput .form__field:invalid {
  box-shadow: none;
}

.searchInput button {
  width: 15%;
  height: 100% !important;
}

.balanceContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balanceContainer .titleContainer {
  height: 3%;
  background-color: #42A5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balanceContainer .titleContainer h2 {
  color: #000;
}

.balanceContainer .swiper {
  height: 97%;
  width: 100%;
}

.balanceContainer .swiper .slideContent {
  width: 100%;
  height: 100%;
}

.balanceContainer .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #111827;
}

.balanceContainer .swiper .swiper-slide hr {
  width: 0;
  height: 90%;
  margin: 0 1rem;
}

.balanceContainer .swiper .swiper-slide .left {
  width: 40%;
  height: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.balanceContainer .swiper .swiper-slide .left h3 {
  width: 100%;
  border-bottom: 1px solid #42A5F5;
  display: flex;
  align-items: center;
}

.balanceContainer .swiper .swiper-slide .left h3 .dataName {
  float: left;
  width: 60%;
  text-align: start;
}

.balanceContainer .swiper .swiper-slide .left h3 .dataValue {
  width: 40%;
  float: right;
  text-align: end;
}

.balanceContainer .swiper .swiper-slide .right {
  width: 40%;
  height: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.balanceContainer .swiper .swiper-slide .right h3 {
  width: 100%;
  border-bottom: 1px solid #42A5F5;
  display: flex;
  align-items: center;
}

.balanceContainer .swiper .swiper-slide .right h3 .dataName {
  float: left;
  width: 60%;
  text-align: start;
}

.balanceContainer .swiper .swiper-slide .right h3 .dataValue {
  width: 40%;
  float: right;
  text-align: end;
}

.cashFlowContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cashFlowContainer .titleContainer {
  height: 3%;
  background-color: #42A5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cashFlowContainer .titleContainer h2 {
  color: #000;
}

.cashFlowContainer .swiper {
  height: 97%;
  width: 100%;
}

.cashFlowContainer .swiper .slideContent {
  width: 100%;
  height: 100%;
}

.cashFlowContainer .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #111827;
}

.cashFlowContainer .swiper .swiper-slide hr {
  width: 0;
  height: 90%;
  margin: 0 1rem;
}

.cashFlowContainer .swiper .swiper-slide .left {
  width: 40%;
  height: 80%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.cashFlowContainer .swiper .swiper-slide .left h3 {
  width: 100%;
  height: 7%;
  border-bottom: 1px solid #42A5F5;
  display: flex;
  align-items: center;
}

.cashFlowContainer .swiper .swiper-slide .left h3 .dataName {
  float: left;
  width: 60%;
  text-align: start;
}

.cashFlowContainer .swiper .swiper-slide .left h3 .dataValue {
  width: 40%;
  float: right;
  text-align: end;
}

.cashFlowContainer .swiper .swiper-slide .right {
  width: 40%;
  height: 80%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.cashFlowContainer .swiper .swiper-slide .right h3 {
  width: 100%;
  height: 7%;
  border-bottom: 1px solid #42A5F5;
  display: flex;
  align-items: center;
}

.cashFlowContainer .swiper .swiper-slide .right h3 .dataName {
  float: left;
  width: 60%;
  text-align: start;
}

.cashFlowContainer .swiper .swiper-slide .right h3 .dataValue {
  width: 40%;
  float: right;
  text-align: end;
}

.earningsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.earningsContainer .titleContainer {
  height: 3%;
  background-color: #42A5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.earningsContainer .titleContainer h2 {
  color: #000;
}

.earningsContainer .swiper {
  height: 97%;
  width: 100%;
}

.earningsContainer .swiper .slideContent {
  width: 100%;
  height: 100%;
}

.earningsContainer .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #111827;
}

.earningsContainer .swiper .swiper-slide hr {
  width: 0;
  height: 90%;
  margin: 0 1rem;
}

.earningsContainer .swiper .swiper-slide .content {
  width: 80%;
  height: 60%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.earningsContainer .swiper .swiper-slide .content h3 {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #42A5F5;
  display: flex;
  align-items: center;
}

.earningsContainer .swiper .swiper-slide .content h3 .dataName {
  float: left;
  width: 60%;
  text-align: start;
}

.earningsContainer .swiper .swiper-slide .content h3 .dataValue {
  width: 40%;
  float: right;
  text-align: end;
}

.overviewHeader .searchInput {
  width: 35%;
  justify-content: space-between;
}

.overviewHeader .searchInput .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-right: 5px;
  width: 82%;
  height: 100%;
}

.overviewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overviewContainer .titleContainer {
  height: 3%;
  background-color: #42A5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overviewContainer .titleContainer h2 {
  color: #000;
}

.overviewContainer .swiper {
  height: 97%;
  width: 100%;
}

.overviewContainer .swiper .slideContent {
  width: 100%;
  height: 100%;
}

.overviewContainer .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #111827;
}

.overviewContainer .swiper .swiper-slide hr {
  width: 0;
  height: 90%;
  margin: 0 1rem;
}

.overviewContainer .swiper .swiper-slide .left {
  width: 40%;
  height: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.overviewContainer .swiper .swiper-slide .left h3 {
  width: 100%;
  height: 7%;
  border-bottom: 1px solid #42A5F5;
  display: flex;
  align-items: center;
}

.overviewContainer .swiper .swiper-slide .left h3 .dataName {
  float: left;
  width: 40%;
  text-align: start;
}

.overviewContainer .swiper .swiper-slide .left h3 .dataValue {
  height: 100%;
  width: 60%;
  float: right;
  text-align: end;
  overflow-y: auto;
  text-overflow: ellipsis;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.overviewContainer .swiper .swiper-slide .left h3 .dataValue span {
  margin: 0 auto;
}

.overviewContainer .swiper .swiper-slide .right {
  width: 40%;
  height: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.overviewContainer .swiper .swiper-slide .right h3 {
  width: 100%;
  height: 7%;
  border-bottom: 1px solid #42A5F5;
  display: flex;
  align-items: center;
}

.overviewContainer .swiper .swiper-slide .right h3 .dataName {
  float: left;
  width: 40%;
  text-align: start;
}

.overviewContainer .swiper .swiper-slide .right h3 .dataValue {
  height: 100%;
  width: 60%;
  float: right;
  text-align: end;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/*# sourceMappingURL=main.css.map */