.swiper {
  height: 97%;
  width: 100%;

  .slideContent {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: $bg-dark;

    hr {
      width: 0;
      height: 90%;
      margin: 0 1rem;
    }

    .left {
      width: 40%;
      height: 90%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      h3 {
        width: 100%;
        height: 15%;
        border-bottom: 1px solid $primary;
        display: flex;
        align-items: center; 

        .dataName{
          float: left;
          width: 50%;
          text-align: start;
          overflow-y: auto;
        }

        .dataValue {
          width: 50%;
          max-height: 70px;
          float: right;
          text-align: end;
          overflow-y: auto;
        }
      }
    }

    .right {
      width: 40%;
      height: 90%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      h3 {
        width: 100%;
        height: 10%;
        border-bottom: 1px solid $primary;
        display: flex;
        align-items: center; 

        .dataName{
          float: left;
          width: 50%;
          text-align: start;
          overflow-y: auto;
        }

        .dataValue {
          width: 50%;
          max-height: 70px;
          float: right;
          text-align: end;
          overflow-y: auto;
        }
      }
    }
    @media(max-width: 900px) {
      flex-direction: column;
      align-items: flex-center;
      justify-content: flex-start;
      overflow-y: auto;
      padding: 1rem 0 3rem;

      hr {
        display: none;
      }

      .left {
        width: 80%;
      }

      .right {
        width: 80%;
      }
    }
  }

  .content {
    width: 80%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
      width: 100%;
      height: 10%;
      border-bottom: 1px solid $primary;
      display: flex;
      align-items: flex-end; 

      .dataName{
        float: left;
        width: 60%;
        text-align: start;
      }

      .dataValue {
        width: 40%;
        float: right;
        text-align: end;
      }
    }
  }
}