.earningsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .titleContainer {
    height: 3%;
    background-color:#42A5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2 {
      color: #000;
    }
  }
  
  .swiper {
    height: 97%;
    width: 100%;

    .slideContent {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      background-color: #111827;

      hr {
        width: 0;
        height: 90%;
        margin: 0 1rem;
      }

      .content {
        width: 80%;
        height: 60%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h3 {
          width: 100%;
          height: 10%;
          border-bottom: 1px solid #42A5F5;
          display: flex;
          align-items: center; 

          .dataName{
            float: left;
            width: 60%;
            text-align: start;
          }

          .dataValue {
            width: 40%;
            float: right;
            text-align: end;
          }
        }
      }
    }
  }
}

