.overviewHeader {
  .searchInput {
    width: 35%;
    justify-content: space-between;

    .form__group {
      position: relative;
      padding: 15px 0 0;
      margin-right: 5px;
      width: 82%;
      height: 100%;
    }
  }
}

.overviewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .titleContainer {
    height: 3%;
    background-color:#42A5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2 {
      color: #000;
    }
  }
  
  .swiper {
    height: 97%;
    width: 100%;
  
    .slideContent {
      width: 100%;
      height: 100%;
    }
  
    .swiper-slide {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      background-color: #111827;
  
      hr {
        width: 0;
        height: 90%;
        margin: 0 1rem;
      }
  
      .left {
        width: 40%;
        height: 90%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
  
        h3 {
          width: 100%;
          height: 7%;
          border-bottom: 1px solid #42A5F5;
          display: flex;
          align-items: center; 
  
          .dataName{
            float: left;
            width: 40%;
            text-align: start;
          }
  
          .dataValue {
            height: 100%;
            width: 60%;
            float: right;
            text-align: end;
            overflow-y: auto;
            text-overflow: ellipsis;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            span {
              margin: 0 auto;
            }
          }
        }
      }
  
      .right {
        width: 40%;
        height: 90%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
  
        h3 {
          width: 100%;
          height: 7%;
          border-bottom: 1px solid #42A5F5;
          display: flex;
          align-items: center; 
  
          .dataName{
            float: left;
            width: 40%;
            text-align: start;
          }
  
          .dataValue {
            height: 100%;
            width: 60%;
            float: right;
            text-align: end;
            overflow-y: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
      }
    }
  }
  
}