
.logo {
  font-weight: 300;
  display: inline-block;
}

hr {
  width: 100%;
  border: 1px solid #272b35;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  padding: 0 2rem;
}

.MuiList-root {
  text-align: center;
}

.MuiList-root a {
  width: 100%;
  margin: 0 auto;
}